<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
	  <add name="Помойка 2008" connectionString="Data Source=DEV-SR-SQL02\SQL2008SRV;Integrated Security=True;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
	  <add name="Помойка 2016" connectionString="Data Source=DEV-SR-SQL2016\SQL2016SRV;Integrated Security=True;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
	  <add name="TSQL14" connectionString="Data Source=TSQL14\SQL16;Integrated Security=True;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
	  <add name="Иркутск" connectionString="Data Source=10.0.240.19\SQL2012SRV;User ID=sa;Password=escort;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
	  <add name="ФЦОД-М 174" connectionString="Data Source=10.40.2.174\sql2016srv;User ID=sa;Password=Qwerty11;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
	  <add name="Сборщик 2016" connectionString="Data Source=DEV-SR-SQL01\SQL2016SRV;Integrated Security=True;Application Name=Fintech.ObjectDependencyExplorer" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>